<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<!-- 定義 log 儲存的地方 -->
	<targets>
		<!-- 檔案 log -->
		<target xsi:type="File" name="fileLog" fileName="logs/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />

		<!-- 主控台 log（可省略） -->
		<target xsi:type="Console" name="consoleLog"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
	</targets>

	<!-- log 規則：要輸出哪些層級的 log 到哪裡 -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="fileLog,consoleLog" />
	</rules>
</nlog>
